<!DOCTYPE html>
  <html lang="en">
      <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/styles/styles.css" type="text/css">
        <title>Banana</title>
      </head>
      <body>
        {{{ template }}}
        <div id="main">
          <button id="submit">What's for lunch</button>
        </div>
        <div style ="display:none" id ="loader">Wait for it, i'm thinking about it, oh man South Park just came on, Be back in 30......
        </div>
        <div style = "display:none" id ="myDiv">You want to eat at ANDY's</div>
       <script type="text/javascript" src="../assets/scripts/index.js"></script>
      </body>
  </html>