<!DOCTYPE html>
  <html lang="en">
      <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/styles/styles.css" type="text/css">
        <link href='http://fonts.googleapis.com/css' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Iceland' rel='stylesheet'>
        <title>Banana</title>
      </head>
      <body>
        {{{ template }}}

        <div id="main">
          <button id="submit">Search Now</button>
        </div>
       <script type="text/javascript" src="../assets/scripts/index.js"></script>
      </body>
  </html>