body {
  background: url("/assets/media/background-ramen.png"); }

h1 {
  font-family: 'Lato', 'sans-serif';
  font-size: 48px;
  color: white;
  margin: 200px 50px 30px 50px;
  text-align: center; }

#main {
  display: block;
  margin: 50px;
  line-height: 30px; }

#submit {
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  background: none;
  padding: 9px 20px 10px 20px;
  text-decoration: none; }

#submit:hover {
  background: #050505;
  text-decoration: none; }

div {
  font-family: 'Lato', 'sans-serif';
  font-size: 14px;
  color: white;
  text-align: center; }
